@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather:300');
page-about {
          ion-header {
            backdrop-filter: blur(8px);
          }
 
          ion-navbar {
            opacity: 0.4;
            box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
          }
          
          ul {
            padding: 0px;

              &.rating li {
              padding: 5px 10px !important;
              background: none;
              color: #ffb400;

            ion-icon {
              font-size: 30px;
            }
          }
        }
}

.menu-header {
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    text-align: center;
  .menu-date h2 {
      width: 100%;
  }
}

ion-card {
  color: #fff;
  font-family: "Merriweather", serif;
  padding: 15px 15px 5px;
  
  .div-description {
    padding: 10px 0 20px;
  }
  
  .my-rating {
    text-align: center;
    width: 100%;
    color: #fff;
  }

  .card-title {
    font-family: "Inconsolata", serif;
    padding-bottom: 8px;
    font-size: 2.5rem;
  }

  rating {
    width: 100%;
  }

  .overall-rating {
    ul.rating li {
      color: lighten(#ffb400, 35%);
    }
  }
}
